/* .parent{
    width: 100vw;
    height: 100vh;
}
.Top{
    width: 100%;
    height: 100px;
    background-color: blue;
    color: white;
    

}
.bottom{
    width: 100%;
    height: 560px;
    
    
}
form{
    width: 30%;
    margin-left: 600px;
    padding: 20px;
    box-shadow: 0px 5px 10px grey;
    margin-top: 100px;


}
h1{
    text-align: center;
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
  color: #444;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}
.password-box {
  position: relative;
}

.password-box i {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
  color: #555;
}

.btn-login:hover {
  background: #0a54db;
}

p {
  text-align: center;
  font-size: 14px;
}

a {
  color: #2575fc;
  text-decoration: none;
  
}

a:hover {
  text-decoration: underline;
}
button{
    width: 100%;
    background-color: blueviolet;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    width: 100vw;
    height: 100vh;
}

.Top {
    width: 100%;
    height: 100px;
    background-color: rgb(62, 62, 187);
    color: white;
}

.bottom {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 30%;
    padding: 20px;
    box-shadow: 0px 5px 10px grey;
    border-radius: 10px;
    background: white;
}

h2 {
    text-align: center;
}
h1{
    text-align: center;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    color: #444;
}

input[type="text"], input[type="password"],input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.password-box {
    position: relative;
}

.password-box i {
    position: absolute;
    right: 10px;
    top: 12px;
    cursor: pointer;
    color: #555;
}
.confirm-box{
        position: relative;
}
.confirm-box i {
    position: absolute;
    right: 10px;
    top: 12px;
    cursor: pointer;
    color: #555;
}


button {
    width: 100%;
    padding: 10px;

    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
}

button:hover {
    background: #6f1cd1;
}

p {
    text-align: center;
    font-size: 14px;
}

a {
    color: #2575fc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.A{
    display: flex;
    justify-content: space-between;
}
